.container-home{
  background-image: url("../../assets/images/banner.jpg");
  height: 1080px;
  div{
    color: white;
    padding: 30pt;
    p{
      font-size: 30pt;
      font-family: "South East";
    }


  }
}
