.imgSize{
  width: 60%;
  height:auto;
  border-radius:8pt ;
}
.container-service{
  margin-left: 10%;
  margin-right: 10%;
}
.service-title{
  font-family: "South East";
  font-size: 30pt;
  padding-top: 50pt;
}
mat-card-content{
  width: 20pt;
}
